<form id="player_stats">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <label>Player
        <input type="hidden" id="playerId"/>
        <input type="text" id="playerSearch"/>
      </label>
    </div>
    <div class="small-3 medium-2 columns">
      <label>Goals
        <input type="number" class="goals" value="<%= goals %>" value="0" pattern="[0-9]*"/>
      </label>
    </div>
    <div class="small-3 medium-2 columns">
      <label>Assists
        <input type="number" class="assists" value="<%= assists %>" value="0" pattern="[0-9]*"/>
      </label>
    </div>
    <div class="small-6 medium-2 columns">
      <label>Card
        <select class="card">
          <option value="N" <%= isCardChecked('N') %>>None</option>
          <option value="Y" <%= isCardChecked('Y') %>>Yellow</option>
          <option value="R" <%= isCardChecked('R') %>>Red</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns small-centered">
      <ul class="button-group">
        <li><a id="cancel" class="tiny button secondary">Cancel</a></li>
        <li><a id="saved" class="tiny button">Save</a></li>
      </ul>
    </div>
  </div>
</form>
<script>
alert('ui shown');
</script>
