{% extends "layout.html" %}

{% block title %}
Admin
{% endblock %}

{% block content %}
<h1>Admin</h1>
<hr/>

<div class="small-centered medium-6 columns">
  <form method="POST" action="/{{base}}admins{% if admin.id %}/{{admin.id}}{% endif %}">
    <div class="row">
      <div class="medium-7 columns small-centered">
        <label>E-Mail
          <input type="text" name="email" value="{{admin.email}}"/>
        </label>
      </div>
      <div class="medium-7 columns small-centered">
        <label>Password
          <input type="password" name="password" value="{{admin.password}}"/>
        </label>
      </div>
      <div class="row">
        <div class="small-4 small-centered columns">
          <input type="submit" class="button" name="Save"/>
        </div>
      </div>
      {% if admins|not-empty %}
      <div class="row ">
        <div class="small-6 medium-5 columns small-centered">
          <table class="admins">
            <thead>
              <tr>
                <th>Admin</th>
                <th>Actions</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            {% for admin in admins %}
              <tr>
                <td>{{admin.email}}</td>
                <td><a href="/{{base}}admins/{{admin.id}}">Edit</a></td>
                <td><a href="/{{base}}admins/{{admin.id}}" class="deleteAdmin">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </form>
  </div>

  <script src="/js/admin.js"></script>
{% endblock %}

