{% extends "layout.html" %}

{% block title %}
{{game.home_team}} vs {{game.away_team}}

{% endblock %}

{% block content %}
<h1>{{game.home_team}} <br/>vs<br/> {{game.away_team}}</h1>
<hr/>

<div class="medium-centered medium-8 columns text-left">
  <form method="POST" action="/{{base}}/games/{{game.id}}">
    <input type="hidden" name="teamId" value="{{teamId}}"/>
    <div class="row">
      <div class="medium-6 columns">
        <label>Starts
          <input type="text" value="{{game.starts_at}}" {{permissions.details}}/>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Field
          <input type="text" value="{{game.field}}" {{permissions.details}}/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-10 columns">
        <label>Home Team
          <input type="text" value="{{game.home_team}}" {{permissions.details}}/>
        </label>
      </div>
      <div class="small-2 columns">
        <label>Score
          <input type="text" name="home_score" value="{{game.ht_score}}" {{permissions.score}}/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-10 columns">
        <label>Away Team
          <input type="text" value="{{game.away_team}}" {{permissions.details}}/>
        </label>
      </div>
      <div class="small-2 columns">
        <label>Score
          <input type="text" name="away_score" value="{{game.at_score}}" {{permissions.score}}/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div id="app"></div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <label>Comments
          <textarea name="comments" rows="6" cols="50" {{permissions.score}}>{{game.comments}}</textarea>
        </label>
      </div>
    </div>
    {% if permissions.update %}
      <div class="row">
        <div class="small-3 small-centered columns">
          <input type="submit" class="button" name="Save"/>
        </div>
      </form>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
var editable = {{permissions.update|default:false}};
var players = {{players|json|safe}};
</script>

<script src="/js/sawesomeness.js"></script>
<script src="/js/player-stats.js"></script>
{% endblock %}

