{% extends "layout.html" %}

{% block title %}
{{game.home_team}} vs {{game.away_team}}

{% endblock %}

{% block content %}
<h1>{{game.home_team}} vs. {{game.away_team }}</h1>
<hr/>

<div class="medium-centered medium-8 columns text-left">
  <form method="POST" action="/{{base}}/games/{{game.id}}">
    <input type="hidden" name="teamId" value="{{teamId}}"/>
    <div class="row">
      <div class="small-8 columns end">
        <label>Home Team
          <input type="text" value="{{game.home_team}}" disabled="true"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns end">
        <label>Away Team
          <input type="text" value="{{game.away_team}}" disabled="true"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>Starts
          <input type="text" name="start_time" value="{{game.starts_at}}"/>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Field
          <input type="text" name="field" value="{{game.field}}"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-3 small-centered columns">
        <input type="submit" class="button" name="Save"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
