{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Home</h1>
<hr/>

<div class="medium-centered small-12 medium-4 columns">
  <a href="/{{base}}teams" class="button expand">Teams</a>
  {% if admin %}
    <a href="/{{base}}admins" class="button expand">Maintain Team Captains</a>
    <a href="/{{base}}schedule/load" class="button expand">Make Season From CSV</a>
    <a href="/{{base}}roster/load" class="button expand">Import Rosters</a>
  {% endif %}
</div>

{% endblock %}
