{% extends "layout.html" %}

{% block title %}
{{league.name}}
{% endblock %}

{% block content %}
<h1>{{league.name}}</h1>
<hr/>

{% include "fragments/top-performers.html" %}

{% include "fragments/top-offenders.html" %}

<div class="medium-centered medium-8 columns standings">
  {% for division,teamList in teams %}
    <h2>{{division}} Division</h2>
    <p><a href="/{{base}}performance?division={{division}}">See top performers</a></p>
    {% include "fragments/division-standings.html" %}
  {% endfor %}
</div>

{% endblock %}

