{% extends "layout.html" %}

{% block title %}
League
{% endblock %}

{% block content %}
<h1>League</h1>
<hr/>

<div class="medium-centered medium-6 columns">
  {% for division,teamList in teams %}
    <h2>{{division}}</h2>
    <table class="standings">
      <thead>
        <tr>
          <th>Team</th>
          <th>Points</th>
          <th>Goal Diff</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teamList %}
          <tr>
            <td>{{team.name}}</td>
            <td>{{team.points}}</td>
            <td>{{team.goal_differential}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</div>

{% endblock %}

