{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<h1>Login</h1>
<hr/>

<div class="medium-centered medium-8 columns text-left">
  {% if error%}
  <div data-alert class="alert-box alert">
    {{error}}
  </div>
  {% endif %}
  <form method="POST" action="/login">
    <div class="medium-7 medium-centered columns">
      <label>E-Mail
        <input type="text" name="email" autofocus/>
      </label>
    </div>
    <div class="medium-7 medium-centered columns">
      <label>Password
        <input type="text" name="password"/>
      </label>
    </div>
    <div class="row">
      <div class="small-3 small-centered columns">
        <input type="submit" class="button" value="Login"/>
      </div>
    </div>
  </form>
</div>
{% endblock %}
