{% extends "layout.html" %}

{% block title %}
{{team.name}}
{% endblock %}

{% block content %}
<div class="rosters small-12 medium-8 small-centered columns">
  <div class="row header">
    <h1>{{team.name}}</h1>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <span class="rosterHeader">Player</span>
    </div>
    <div class="small-5 columns text-left">
      <span class="rosterHeader">Infractions</span>
    </div>
  </div>
  {% for player in players %}
  <div class="row player">
    <div class="small-6 columns playerName">
      {{player.name}}
    </div>
    <div class="small-5 columns text-left">
      {% for card in player.cards %}
        <span class="card">{{card.card|cardlabel}} Card on {{card.card_date|date:shortDate}}</span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

