{% extends "layout.html" %}

{% block title %}
Roster Import
{% endblock %}

{% block content %}
<h1>Player Import</h1>
<hr/>

<div class="medium-centered medium-8 columns text-left">
  {% if rosters %}
    <div data-alert class="alert-box success">
      Success - roster imported
    </div>
  {% endif %}
  <form method="POST" action="/{{base}}roster/load" enctype="multipart/form-data">
    <div class="row">
      <div class="medium-6 columns">
        <label>Player File
          <input type="file" name="file">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-3 small-centered columns">
        <input type="submit" class="button" value="Import"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
