{% extends "layout.html" %}

{% block title %}
Schedule Import
{% endblock %}

{% block content %}
<h1>Season Creation</h1>
<hr/>

<div class="medium-centered medium-8 columns text-left">
  {% if not games %}
    <div data-alert class="alert-box warning">
      Warning - this will delete any existing games and reset from uploaded file
    </div>
  {% endif %}
  {% if games %}
    <div data-alert class="alert-box success">
      Success - {{games|count}} games create. <a href="/teams/{{base}}">Go to League</a>
    </div>
  {% endif %}
  <form method="POST" action="/{{base}}/schedule/load" enctype="multipart/form-data">
    <div class="row">
      <div class="medium-6 columns">
        <label>Schedule
          <input type="file" name="file">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-3 small-centered columns">
        <input type="submit" class="button" value="Create"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
