{% extends "layout.html" %}

{% block title %}
{{team.name}}
{% endblock %}

{% block content %}
<h1>{{team.name}}</h1>
<hr/>

<div class="row text-left">

  <dl class="gameList">
  {% for game in games %}
    <dt>
      <h5>{{game.home_team}} vs {{game.away_team}}</h5>

      <span class="starts">{{game.starts_at}}</span><br/>
      <span>Field: {{game.field}}</span><br/>
      {% if game.update_count = 0 %}
        <span>Score: Not Reported</span><br/>
      {% endif %}
      {% if game.update_count > 0 %}
        <span>Score: {{game.ht_score}} - {{game.at_score}}</span><br/>
      {% endif %}

      {% if permissions.scores %}
        <a href="/{{base}}/games/{{game.id}}/scores?teamId={{team.id}}">Scores</a>
      {% endif %}

      {% if permissions.details %}
        <a href="/{{base}}/games/{{game.id}}?teamId={{team.id}}">Edit</a>
      {% endif %}

      <a href="/{{base}}/teams/{{team.id}}/players">Rosters</a>
    </dt>
  {% endfor %}
  </dl>
</div>
{% endblock %}

