{% extends "layout.html" %}

{% block title %}
{{team.name}}
{% endblock %}

{% block content %}
<h1>{{team.name}}</h1>
<hr/>

<div class="row">
  <div class="small-centered medium-uncentered small-10 medium-4 columns">
    <a href="/{{base}}/teams/{{team.id}}/players" class="button expand info rostersButton">
      <span>View Players</span>
    </a>
  </div>
  {% for game in games %}
    <div class="small-centered medium-uncentered small-10 medium-4 columns">
      <a href="/{{base}}/games/{{game.id}}?teamId={{team.id}}" class="button expand">{{game.starts_at}} <br/><br/> {{game.home_team}}<br> vs <br> {{game.away_team}}</a>
  </div>
  {% endfor %}
</div>
{% endblock %}

