#player_stats {
  .button-group {
    a {
      margin-right: 5px;
    }
  }
}

.standings {
  width: 100%;
}

.playerstats {
  width: 100%;
}

.rostersButton {
  padding: 50px;

  span {
    color: white;
  }
}


