.gameList {
  padding: 0 0 0 20px;

  dt {
    padding-bottom: 20px;
  }

  h5 {
    font-size: 1.6em;
    margin-bottom: 0;
  }

  span {
    font-weight: normal;
    padding-right: 20px;
  }

  a {
    padding: 0 10px 0 0;
  }
}

#player_stats {
  .button-group {
    a {
      margin-right: 5px;
    }
  }
}

.standings {
  width: 100%;
}

.playerstats {
  width: 100%;
}

.rostersButton {
  padding: 50px;

  span {
    color: white;
  }
}

.rosters {
  .header {
    padding: 25px 0 25px 0;
  }

  .rosterHeader {
    font-size: 1.4em;
  }

  .player {
    padding: 5px 0 5px 0;
    border-top: 1px solid #dddddd;
  }

  .card {
    display: block;
  }
}
